html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body {
    height: 100%;
}

.btn-primary {
    background-color: #BEE7B8;
    border-color: #BEE7B8;
}

.btn-light {
    background-color: #BEE7B8;
    border-color: #BEE7B8;
}

.navbar.bg-white {
    background-color: #BEE7B8 !important;
}

/* For the homepage */
body.homepage {
    background-color: #6F4E37; /* homepage background color */
}

/* For other pages */
body.otherpage {
    background-color: #E5E0D5; /* background color for other pages */
}

/* "Cappuccino" h1 */
.display-1 {
    color: #BEE7B8; /*color for "Cappuccino" */
}

/* "Chatter" h2 */
.display-2 {
    color: #AEBD93; /* color for "Chatter" */
}

.footer {
    background-color: #BEE7B8;
}

/* Custom styles */
.custom-btn {
    padding: 20px 40px; /* Increase padding for larger buttons */
    font-size: 24px; /* Larger font size */
}

.custom-spacing {
    margin-top: 200px; /* Custom top margin for more spacing */
}

.button-spacing {
    margin-right: 100px; 
}

.scrollable-list {
    max-height: 300px; 
    overflow-y: auto; /* adds vertical scrollbar when necessary */
}