@model IEnumerable<MvcMessageLogger.Models.Message>

<h1>All Messages</h1>

@if (Model.Any() != false)
{
    @foreach (var message in Model)
    {
        <ul>
            <li><p>Message Content: @message.Content, Time: @message.CreatedAt.ToString() </p></li>
        </ul>
    }
}
else
{
    <p>No data available.</p>
}