@model IEnumerable<MvcMessageLogger.Models.Message>

<h1>All Messages</h1>

@if (Model.Any() != false)
{
    @foreach (var message in Model)
    {
        <ul class="scrollable-list list-group">
            <li><p>[@message.CreatedAt.ToShortTimeString()] : @message.Content </p></li>
        </ul>
    }
}
else
{
    <p>No data available.</p>
}

<a href="../"><button class="btn btn-secondary">Back</button></a>
