@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Cappuccino</h1>
    <h2 class="display-3"> - </h2>
    <h2 class="display-2"> Chatter </h2>
</div>

<div class="text-bottom"> 
   
</div>
