@model MvcMessageLogger.Models.User

<div class="container">
    <h1>User Details</h1>

    <div class="row">

        <!-- User Details (Left) -->
        <div class="col-md-4">
            <p>Username: @Model.Username</p>
            <p>Name: @Model.Name</p>
            <a href="/Users/@Model.Id/edit" class="btn btn-light"> Edit User </a>
            
            <form action="/users/delete/@Model.Id" method="post">
                <button type="submit" class="btn btn-light">Delete User</button>
            </form>
        </div>

        <!-- Add Message Form (Center) -->
        <div class="col-md-4">
            <form method="post" action="/users/@Model.Id/messages">
                <textarea id="Content" name="Content" maxlength="255"></textarea>
                <button type="submit" class="btn btn-light d-block mt-2">Add Message</button>
            </form>
        </div>

        <!-- All Messages (Right) -->
        <div class="col-md-4">
            @if (Model.Messages != null && Model.Messages.Any())
            {
                <h2>All Messages</h2>
                <ul class="scrollable-list list-group">
                    @foreach (var message in Model.Messages)
                    {
                        <li><p>@Model.Username : @message.Content</p></li>
                    }
                </ul>
            }
            else
            {
                <p>No Messages in DB</p>
            }
        </div>

    </div> <!-- end of row -->

    <a href="../Users"><button class="btn btn-secondary">Back</button></a>
</div> <!-- end of container -->